.video-play-button {
  position: relative;
  z-index: 10;
  box-sizing: content-box;
  display: block;
  width: 32px;
  margin: 0;
  height: 44px;
  border-radius: 50%;
  padding: 18px 20px 18px 28px;
}

.video-play-button:before {
  content: "";
  position: absolute;
  z-index: 0;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  display: block;
  width: 80px;
  height: 80px;
  background: #fff;
  border-radius: 50%;
  animation: pulse-border 1500ms ease-out infinite;
}

.video-play-button:after {
  content: "";
  position: absolute;
  z-index: 1;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  display: block;
  width: 80px;
  height: 80px;
  background: #fff;
  border-radius: 50%;
  transition: all 200ms;
}

.video-play-button:hover:after {
  background-color: darken(#fff, 10%);
}

.video-play-button img {
  position: relative;
  z-index: 3;
  max-width: 100%;
  width: auto;
  height: auto;
}

.video-play-button span {
  display: block;
  position: relative;
  z-index: 3;
  width: 0;
  height: 0;
  border-left: 32px solid #9333ea;
  border-top: 22px solid transparent;
  border-bottom: 22px solid transparent;
}

@keyframes pulse-border {
  0% {
    transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1);
    opacity: 1;
  }
  100% {
    transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1.5);
    opacity: 0;
  }
}

@media (max-width: 768px) {
  /* Adjust the values below according to your needs */
  .video-play-button {
    width: 14px;
    height: 42px;
    padding: 24px 20px 12px 20px;
  }

  .video-play-button:before,
  .video-play-button:after {
    width: 60px;
    height: 60px;
  }

  .video-play-button img {
    padding: 8px;
  }

  .video-play-button span {
    border-left: 24px solid #9333ea;
    border-top: 16px solid transparent;
    border-bottom: 16px solid transparent;
  }
}
